cycler==0.10.0
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyboard==0.13.4
kiwisolver==1.0.1
matplotlib==3.0.2
MouseInfo==0.1.2
neat==0.4.1
neat-python==0.92
numpy==1.16.1
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
pandas==0.24.1
Pillow==5.4.1
pip==19.0.2
PyAutoGUI==0.9.48
pygame==1.9.4
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pynput==1.4
pyparsing==2.3.1
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.25
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2018.9
pywin32==227
PyYAML==3.13
scipy==1.2.1
selenium==3.141.0
setuptools==39.0.1
urllib3==1.24.1
WebOb==1.8.5
wheel==0.33.0
